hr.dashed {
  border-top: 2px dashed #999;
}

hr.dotted {
  border-top: 2px dotted #999;
}

hr.solid {
  border-top: 2px solid #999;
  margin: 0px;
}


hr.hr-text {
position: relative;
  border: none;
  height: 1px;
  background: #999;
}

hr.hr-text::before {
  content: attr(data-content);
  display: inline-block;
  background: #fff;
  font-weight: bold;
  font-size: 0.85rem;
  color: #999;
  border-radius: 30rem;
  padding: 0.2rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1200px) {
    p {
      font-size:18px;
    }
}

.wrapper {
  width:100px;
  margin:0 auto;
  padding-top:20px;
}

#tal {
  font-size:40px;
  color: #333;
  font-weight:bold;
}

.services .service-block.color-bg {
  background: #28ABE3;
  color: #fff;
}
.services .service-block.color-bg i, .services .service-block.color-bg h3, .services .service-block.color-bg p {
  color: #fff;
}
.services .service-block .service-icon {
  margin-bottom: 30px;
}
.services .service-block i {
  font-size: 75px;
  color: #28ABE3;
}
.services .service-block h3 {
  color: #333;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.services .service-block p {
  font-size: 14px;
  color: #666;
}

.list-text {
  font-size: large;
  font-weight: 500;
}

.color-bg {
  background: #28ABE3;
  color: #fff;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  color: #353333;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-details .contact-short-info {
  margin-top: 15px;
}

.contact-details .contact-short-info li {
  margin-bottom: 6px;
}

.map-responsive{

  overflow:hidden;

  padding-bottom:25%;

  position:relative;

  height:0;

}

.map-responsive iframe{

  left:0;

  top:0;

  height:100%;

  width:100%;

  position:absolute;

}